@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
html, body {height: 100%; width: 100%; background-color: rgb(255, 215, 105);}
#outerContainer {
  height: 100%;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}
#innerContainer {
  transform: translate(0, -50%);
  width: auto;
}
.item {
  font-family: 'Bangers', cursive;
  font-size: 3em;
  color: rgb(96,195,176);
  text-align: center;
}