@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
html, body { 
  height: 100%;
  width: 100%;
  background-color: rgb(255, 215, 105);
  margin: 0px; 
  font-family: 'Bangers', cursive;
  color: rgb(96,195,176);
}

#outerContainer {
  height: 100%;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Bangers', cursive;
  color: rgb(96,195,176);
}
#innerContainer {
  flex-direction: column;
  transform: translate(0, 0);
  width: auto;
}

.item {
  font-size: 2em;
  text-align: center;
}

#enabledDiscs, #enabledThrows {
  margin: 0;
}

/* Custom checkboxes */
.check[type="checkbox"]:before{
    position: relative;
    display: block;
    width: 14px;
    height: 14px;
    border: 1px solid white;
    content: "";
    background: white;
}
.check[type="checkbox"]:after{
    position: relative;
    display: block;
    left: 2px;
    top: -14px;
    width: 14px;
    height: 14px;
    content: "";
    background-repeat: no-repeat;
    background-position:center;
}
.check[type="checkbox"]:checked:after{
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAQAAABuW59YAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAAB2SURBVHjaAGkAlv8A3QDyAP0A/QD+Dam3W+kCAAD8APYAAgTVZaZCGwwA5wr0AvcA+Dh+7UX/x24AqK3Wg/8nt6w4/5q71wAAVP9g/7rTXf9n/+9N+AAAtpJa/zf/S//DhP8H/wAA4gzWj2P4lsf0JP0A/wADAHB0Ngka6UmKAAAAAElFTkSuQmCC');

}

.check[type="checkbox"]:not(:disabled):checked:hover:after{
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAQAAABuW59YAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAAB2SURBVHjaAGkAlv8A3QDyAP0A/QD+Dam3W+kCAAD8APYAAgTVZaZCGwwA5wr0AvcA+Dh+7UX/x24AqK3Wg/8nt6w4/5q71wAAVP9g/7rTXf9n/+9N+AAAtpJa/zf/S//DhP8H/wAA4gzWj2P4lsf0JP0A/wADAHB0Ngka6UmKAAAAAElFTkSuQmCC');
}

input[type=submit] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    border: none;
    cursor: pointer;
    background-color: rgb(255, 215, 105);
    font-family: 'Bangers', cursive;
    font-size: 4em;
    color: rgb(96,195,176);
    height: auto;
    width: auto;
}

.scale {
  -webkit-animation: shrink 0.25s linear, grow 0.25s linear 0.25s;
  -moz-animation: shrink 0.25s linear, grow 0.25s linear 0.25s;
  animation: shrink 0.25s linear, grow 0.25s linear 0.25s;
}

.spin {
  -webkit-animation: spin 0.5s linear;
  -moz-animation: spin 0.5s linear;
  animation: spin 0.5s linear;
}

#scaler {
  display: flex;
  justify-content: center;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

@-webkit-keyframes grow {
    from { transform:scale(0.5); }
    to { transform:scale(1); }
}
@-moz-keyframes grow {
    from { transform:scale(0.5); }
    to { transform:scale(1); }
}  }
}
@keyframes grow {
    from { transform:scale(0.5); }
    to { transform:scale(1); }
}
@-webkit-keyframes shrink {
    from { transform:scale(1); }
    to { transform:scale(0.5); }
}
@-moz-keyframes shrink {
    from { transform:scale(1); }
    to { transform:scale(0.5); }
}
@keyframes shrink {
    from { transform:scale(1); }
    to { transform:scale(0.5); }
}